/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*
font-size: 16px;
360px = 22.5rem;
350px = 21.875rem;

108px = 6.75rem;
95px = 5.9375rem;
90px = 5.625rem;
88px = 5.5rem;
80px = 5rem;
72px = 4.5rem;
67px = 4.1875rem;
64px = 4rem;
62px = 3.875rem;
60px = 3.75rem;
54px = 3.375rem;
50px = 3.125rem;
48px = 3rem;
45px = 2.8125rem;
42px = 2.625rem
40px = 2.5rem;
38px = 2.375rem;
36px = 2.25rem;
33px= 2.0625rem;
32px = 2rem;
30px = 1.875rem;
28px = 1.75rem;
27px = 1.6875rem;
24px = 1.5rem;
22px = 1.375rem;
21px = 1.3125rem;
20px = 1.25rem;
18px = 1.125rem;
16px = 1rem;
14px = 0.875rem;
12px = 0.75rem;
8px = 0.5rem;
4px = 0.25rem;
*/
.header {
  width: 100%;
  height: 108px;
  background-color: #AA0601;
  padding: 0px 88px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 992px) {
  .header {
    padding: 0px 48px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .headerLogo {
    max-width: 48px;
  }
}

.headerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

@media (max-width: 768px) {
  .headerList {
    background-color: #AA0601;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    left: -100%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 768px) {
  .headerList li {
    height: 60px;
    border-top: 1px solid #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerList a {
  margin-left: 64px;
  color: #FFFFFF;
  font: 20px/30px PingFang TC;
  font-weight: 400;
}

@media (max-width: 992px) {
  .headerList a {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .headerList a {
    margin: 0;
  }
}

.hamburger {
  display: none;
  position: absolute;
  left: 16px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.footer {
  padding: 36px 48px 27.5px 48px;
  background-color: #AA0601;
}

.footer a, .footer p {
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .footer {
    padding: 40px 48px 40px 48px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 24px 12px 20px 12px;
  }
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 24px;
}

.footerNav a {
  display: block;
}

@media (max-width: 768px) {
  .footerNav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 16px;
  }
}

.footerNavPageRouteList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px PingFang TC;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footerNavPageRouteList {
    display: none;
  }
}

.footerNavPageRouteList li {
  margin-right: 48px;
}

@media (max-width: 992px) {
  .footerNavPageRouteList li {
    margin-right: 40px;
  }
}

.footerNavSocialMediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerNavSocialMediaList li {
  margin-left: 32px;
}

@media (max-width: 992px) {
  .footerNavSocialMediaList li {
    margin-left: 24px;
  }
}

.footerNavSocialMediaList img {
  width: 24px;
}

.footerContactList {
  width: 100%;
  margin-top: 18px;
}

@media (max-width: 992px) {
  .footerContactList {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .footerContactList {
    width: 55.11%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 0px;
  }
}

.footerContactList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContactList li:nth-child(1) {
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .footerContactList li:nth-child(1) {
    margin-bottom: 8px;
  }
}

.footerContactList li:nth-child(2) {
  margin-bottom: 24px;
}

.footerContactList img:nth-child(1) {
  margin-right: 23px;
}

@media (max-width: 992px) {
  .footerContactList img:nth-child(1) {
    width: 23px;
    margin-right: 12px;
  }
}

@media (max-width: 768px) {
  .footerContactList img:nth-child(1) {
    width: 13px;
    margin-right: 8px;
  }
}

.footerContactList img:nth-child(2) {
  margin-right: 12px;
}

@media (max-width: 992px) {
  .footerContactList img:nth-child(2) {
    width: 32px;
    margin-right: 8px;
  }
}

@media (max-width: 768px) {
  .footerContactList img:nth-child(2) {
    width: 20px;
    margin-right: 5px;
  }
}

.footerContactList a {
  font: 36px/54px Roboto;
  font-weight: 400;
}

@media (max-width: 992px) {
  .footerContactList a {
    font: 20px/30px Roboto;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .footerContactList a {
    font: 16px/30px Roboto;
    font-weight: 400;
  }
}

.footerlaw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footerlaw {
    display: block;
  }
}

.footerlawInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footerlawInfo {
    margin-bottom: 8px;
  }
}

.footerlawInfo img {
  margin-right: 38px;
}

@media (max-width: 992px) {
  .footerlawInfo img {
    display: none;
  }
}

.footerlawInfo p {
  font: 14px/21px Roboto;
  font-weight: 400;
}

.footerlawList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 14px/21px PingFang TC;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footerlawList {
    display: block;
  }
}

.footerlawList li {
  margin-left: 62px;
}

@media (max-width: 992px) {
  .footerlawList li {
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .footerlawList li {
    margin-left: 0px;
    margin-bottom: 8px;
  }
}

.footerlawList li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerlawList li:nth-child(2) img {
  width: 46px;
}

.footerLogo {
  display: none;
}

@media (max-width: 768px) {
  .footerLogo {
    display: block;
  }
}

html {
  background-color: #FFFFFF;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexAlignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexAlignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexContentSpaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexContentCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContentEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexDirectionColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.h-100 {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 672px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 352px;
  }
}

.displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left0 {
  left: 0;
}

.sectionTitle {
  font: 48px/72px PingFang TC;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 992px) {
  .sectionTitle {
    font: 32px/48px PingFang TC;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font: 24px/48px PingFang TC;
    font-weight: 600;
  }
}

.banner {
  background-image: url("../assets/homeDesktop/68.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  height: 840px;
  color: #650300;
  padding: 0px 48px;
}

@media (max-width: 768px) {
  .banner {
    padding: 0px 12px;
    height: 394px;
  }
}

.banner h2 {
  font: 36px/54px PingFang TC;
  font-weight: 500;
}

@media (max-width: 992px) {
  .banner h2 {
    font: 20px/30px PingFang TC;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .banner h2 {
    font: 16px/30px PingFang TC;
    font-weight: 500;
  }
}

.banner p {
  font: 64px/96px PingFang TC;
  font-weight: 500;
}

@media (max-width: 992px) {
  .banner p {
    font: 48px/72px PingFang TC;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .banner p {
    font: 32px/72px PingFang TC;
    font-weight: 500;
  }
}

.service {
  background-color: #fbf2f2;
  padding: 0px 48px;
  padding-top: 64px;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .service {
    padding: 0px 48px;
    padding-top: 40px;
    padding-bottom: 72px;
  }
}

@media (max-width: 768px) {
  .service {
    padding: 0px 11px;
    padding-top: 32px;
    padding-bottom: 48px;
  }
}

.service .sectionTitle {
  margin-bottom: 44px;
  color: #650300;
}

@media (max-width: 992px) {
  .service .sectionTitle {
    margin-bottom: 12px;
  }
}

.serviceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.serviceList li:nth-child(1), .serviceList li:nth-child(3) {
  padding-top: 16px;
}

@media (max-width: 992px) {
  .serviceList li:nth-child(1), .serviceList li:nth-child(3) {
    padding-top: 20px;
  }
}

.serviceList li:nth-child(1) a img, .serviceList li:nth-child(3) a img {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .serviceList li:nth-child(1) a img, .serviceList li:nth-child(3) a img {
    margin-bottom: 16px;
  }
}

.serviceList li:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.serviceList li:nth-child(2) {
  padding-top: 20px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.serviceList li:nth-child(2) a img {
  margin-bottom: 42px;
}

@media (max-width: 992px) {
  .serviceList li:nth-child(2) a img {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .serviceList li:nth-child(2) a img {
    margin-bottom: 18px;
  }
}

.serviceList li:nth-child(3) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.serviceList li:nth-child(4) {
  padding-top: 32px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (max-width: 992px) {
  .serviceList li:nth-child(4) {
    padding-top: 20px;
  }
}

.serviceList li:nth-child(4) a img {
  margin-bottom: 54px;
}

@media (max-width: 992px) {
  .serviceList li:nth-child(4) a img {
    margin-bottom: 27px;
  }
}

@media (max-width: 992px) {
  .serviceList li:nth-child(1), .serviceList li:nth-child(2), .serviceList li:nth-child(3), .serviceList li:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.serviceItem {
  width: 25%;
  padding-left: 37px;
  padding-right: 37px;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .serviceItem {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .serviceItem {
    width: 100%;
    margin-bottom: 8px;
  }
}

.serviceItem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #650300;
}

.serviceItem a h3 {
  margin-bottom: 4px;
  font: 24px/36px PingFang TC;
  font-weight: 500;
}

@media (max-width: 992px) {
  .serviceItem a h3 {
    margin-bottom: 8px;
    font: 20px/30px PingFang TC;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .serviceItem a h3 {
    font: 20px/30px PingFang TC;
    font-weight: 600;
  }
}

.serviceItem a p {
  font: 16px/24px PingFang TC;
  font-weight: 400;
}

.classic {
  padding: 0px 48px;
  padding-top: 64px;
}

@media (max-width: 768px) {
  .classic {
    padding: 0px 11px;
    padding-top: 24px;
  }
}

.classic .sectionTitle {
  margin-bottom: 60px;
  color: #650300;
}

@media (max-width: 768px) {
  .classic .sectionTitle {
    margin-bottom: 16px;
  }
}

.classicList {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .classicList {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .classicList {
    margin-bottom: 24px;
  }
}

.classicItem {
  margin-bottom: 32px;
  position: relative;
}

@media (max-width: 992px) {
  .classicItem {
    margin-bottom: 8px;
  }
}

.classicItem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .classicItem a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.classicItem p {
  font: Italic 48px/72px Roboto;
  font-weight: 800;
  color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .classicItem p {
    font: Italic 28px/42px Roboto;
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .classicItem p {
    position: absolute;
    font: Italic 28px/42px Roboto;
    font-weight: 800;
    color: #FFFFFF;
  }
}

.classicList a {
  width: 100%;
}

.classicList li:nth-child(1) img, .classicList li:nth-child(3) img {
  max-width: 66%;
}

@media (max-width: 768px) {
  .classicList li:nth-child(1) img, .classicList li:nth-child(3) img {
    max-width: 100%;
  }
}

.classicList .classicItemImgBody {
  max-width: 66%;
}

@media (max-width: 768px) {
  .classicList .classicItemImgBody {
    max-width: 100%;
  }
}

.classicList li:nth-child(2) img {
  max-width: 100%;
}

.classicList p::before {
  content: '';
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.classicList li:nth-child(1) p::before {
  background-image: url("../assets/homeDesktop/iconfinder_44_2529968.svg");
  width: 48px;
  height: 37px;
}

@media (max-width: 992px) {
  .classicList li:nth-child(1) p::before {
    width: 32px;
    height: 25px;
  }
}

.classicList li:nth-child(2) p::before {
  background-image: url("../assets/homeDesktop/Layer_1.svg");
  width: 48px;
  height: 48px;
}

@media (max-width: 992px) {
  .classicList li:nth-child(2) p::before {
    width: 32px;
    height: 32px;
  }
}

.classicList li:nth-child(3) p::before {
  background-image: url("../assets/homeDesktop/Page-1.svg");
  width: 35px;
  height: 48px;
}

@media (max-width: 992px) {
  .classicList li:nth-child(3) p::before {
    width: 23px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .classicList p::before {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
}

.classicList .classicItemImgBody {
  position: relative;
}

.classicList .classicItemImgBody::after {
  position: absolute;
  content: '';
  display: block;
  background-image: url("https://image2.pearvideo.com/cont/20170503/cont-1074030-10295966.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  opacity: 0;
}

.classicList .classicItemImgBody:hover::after {
  opacity: 1;
}

.classicList li:nth-child(2) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 992px) {
  .classicList li:nth-child(2) a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.containerLarger {
  margin: 0 auto;
  max-width: 1538px;
}

@media (max-width: 992px) {
  .containerLarger {
    max-width: 672px;
  }
}

@media (max-width: 768px) {
  .containerLarger {
    max-width: 327px;
  }
}

.coBrand {
  padding: 0px 48px;
  padding-top: 64px;
  position: relative;
}

@media (max-width: 992px) {
  .coBrand {
    padding: 0px 24px;
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .coBrand {
    padding: 0px 24px;
    padding-top: 24px;
  }
}

.coBrand::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url("../assets/homeDesktop/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png");
  width: 100%;
  height: 2162px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 992px) {
  .coBrand::before {
    height: 1221px;
  }
}

.coBrand .sectionTitle {
  color: #FFFFFF;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .coBrand .sectionTitle {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .coBrand .sectionTitle {
    margin-bottom: 16px;
  }
}

.coBrandDemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .coBrandDemo {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .coBrandDemo {
    margin-bottom: 20px;
  }
}

.coBrandDemoLeft {
  display: block;
  width: 37%;
}

.coBrandDemoLeft img {
  width: 100%;
}

@media (max-width: 768px) {
  .coBrandDemoLeft {
    width: 47.7%;
  }
}

.coBrandDemoList {
  max-width: 62.5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 768px) {
  .coBrandDemoList {
    width: 51.6%;
  }
}

.coBrandDemoList a {
  width: 100%;
  display: block;
}

.coBrandDemoList img {
  width: 100%;
}

.coBrandDemoList li:nth-child(2) {
  width: 13.5%;
}

@media (max-width: 768px) {
  .coBrandDemoList li:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
  }
}

.coBrandDemoList li:nth-child(3) {
  width: 85.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .coBrandDemoList li:nth-child(3) {
    width: 100%;
  }
}

.coBrandDemoList .moreBtn {
  width: auto;
  height: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 27px;
}

@media (max-width: 992px) {
  .coBrandDemoList .moreBtn {
    padding-left: 16px;
  }
}

@media (max-width: 768px) {
  .coBrandDemoList .moreBtn {
    position: absolute;
    height: 23%;
    bottom: 8.8%;
    right: 0;
    padding-left: 11px;
  }
}

.moreBtn {
  position: relative;
}

.moreBtn::after {
  position: absolute;
  content: '';
  display: block;
  background-image: url("../assets/homeDesktop/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.moreBtnTextBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62%;
  background-color: #FFFFFF;
  padding: 0px 19px 0px 32px;
}

@media (max-width: 992px) {
  .moreBtnTextBody {
    height: 76%;
    padding: 0px 10px 0px 19px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody {
    height: 77%;
    padding: 0px 14px 0px 12px;
  }
}

.moreBtnTextBody p {
  position: relative;
  width: 92%;
  font: 72px/72px Roboto;
  font-weight: 700;
  color: #AA0601;
  margin-right: 17px;
}

@media (max-width: 992px) {
  .moreBtnTextBody p {
    font: 40px/30px Roboto;
    font-weight: 700;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody p {
    font: 26px/20px Roboto;
    font-weight: 700;
    margin-right: 8px;
  }
}

.moreBtnTextBody img {
  width: auto;
  position: relative;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 992px) {
  .moreBtnTextBody img {
    width: 27px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody img {
    width: 18px;
  }
}

.moreBtnTextBody p::before, .moreBtnTextBody p::after {
  position: absolute;
  content: 'MORE';
  color: #AA0601;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.7;
}

.moreBtnTextBody p::after {
  opacity: 0.3;
}

.moreBtnTextBody:hover p::before {
  top: -80px;
}

@media (max-width: 992px) {
  .moreBtnTextBody:hover p::before {
    top: -40px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody:hover p::before {
    display: none;
  }
}

.moreBtnTextBody:hover p::after {
  top: -150px;
}

@media (max-width: 992px) {
  .moreBtnTextBody:hover p::after {
    top: -80px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody:hover p::after {
    display: none;
  }
}

.moreBtnTextBody:hover img {
  position: relative;
  left: 10px;
}

@media (max-width: 992px) {
  .moreBtnTextBody:hover img {
    left: 6px;
  }
}

@media (max-width: 768px) {
  .moreBtnTextBody:hover img {
    left: 0px;
  }
}

.coBrandCategoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 144px;
}

@media (max-width: 992px) {
  .coBrandCategoryList {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .coBrandCategoryList {
    margin-bottom: 4px;
  }
}

.coBrandCategoryList li {
  width: 48.75%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .coBrandCategoryList li {
    width: 100%;
  }
}

.coBrandCategoryList a {
  width: 100%;
  position: relative;
  display: block;
}

.coBrandCategoryList img {
  width: 100%;
}

.coBrandCategoryList p {
  font: 72px/95px Roboto;
  font-weight: 600;
  color: #AA0601;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

@media (max-width: 992px) {
  .coBrandCategoryList p {
    font: 32px/25px Roboto;
    font-weight: 700;
  }
}

.coBrandCategoryList a::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.feedback {
  padding: 0px 48px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .feedback {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .feedback {
    margin-bottom: 8px;
  }
}

.feedback .sectionTitle {
  color: #FFFFFF;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .feedback .sectionTitle {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .feedback .sectionTitle {
    margin-bottom: 16px;
  }
}

.feedbackList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedbackItem {
  width: 23.5%;
}

@media (max-width: 992px) {
  .feedbackItem {
    width: 48.2%;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .feedbackItem {
    width: 100%;
    margin-bottom: 16px;
  }
}

.feedbackItem a {
  display: block;
  width: 100%;
  color: #000000;
}

.feedbackItem img {
  width: 100%;
}

.feedbackItem h3 {
  font: 16px/21px Roboto;
  font-weight: 500;
  margin-bottom: 16px;
}

.feedbackItem p {
  font: 16px/24px Roboto;
  font-weight: 400;
  padding-bottom: 16px;
}

.feedbackItem span {
  font: 16px/21px Roboto;
  font-weight: 400;
  color: #707070;
}

.feedbackTextBody {
  padding: 16px;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-top-width: 0px;
}

.containerSmaller {
  margin: 0 auto;
  max-width: 792px;
}

@media (max-width: 992px) {
  .containerSmaller {
    max-width: 498px;
  }
}

@media (max-width: 768px) {
  .containerSmaller {
    max-width: 327px;
  }
}

.contactUs {
  background-color: #fbf2f2;
  padding: 64px 48px 92px 48px;
}

@media (max-width: 992px) {
  .contactUs {
    padding: 40px 24px 56px 24px;
  }
}

@media (max-width: 768px) {
  .contactUs {
    padding: 24px 24px 48px 24px;
  }
}

.contactUs .sectionTitle {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .contactUs .sectionTitle {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .contactUs .sectionTitle {
    margin-bottom: 8px;
  }
}

.contactUs h3 {
  font: 20px/30px PingFang TC;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .contactUs h3 {
    font: 16px/24px PingFang TC;
    font-weight: 400;
    margin-bottom: 16px;
  }
}

.contactUsList label {
  display: block;
  font: 16px/24px PingFang TC;
  font-weight: 400;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .contactUsList label {
    margin-bottom: 2px;
  }
}

.contactUsList input, .contactUsList textarea {
  width: 100%;
  padding: 14px 16px;
  background-color: transparent;
  margin-bottom: 16px;
  border: 1px solid #000000;
  color: #707070;
}

@media (max-width: 992px) {
  .contactUsList input, .contactUsList textarea {
    margin-bottom: 12px;
    padding: 7px 12px;
  }
}

.contactUsList input {
  height: 50px;
}

@media (max-width: 768px) {
  .contactUsList input {
    height: 36px;
  }
}

.contactUsList textarea {
  height: 136px;
  resize: none;
}

@media (max-width: 768px) {
  .contactUsList textarea {
    height: 100px;
  }
}

.contactUsAgreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
}

@media (max-width: 992px) {
  .contactUsAgreement {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .contactUsAgreement {
    margin-bottom: 20px;
  }
}

.contactUsAgreement input {
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  background-color: transparent;
}

.contactUsAgreement label {
  font: 16px/24px Roboto;
  font-weight: 400;
}

.contactUsSubmit {
  display: block;
  width: 180px;
  height: 54px;
  font: 16px/54px Roboto;
  font-weight: 700;
  background-color: #AA0601;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .contactUsSubmit {
    width: 136px;
    height: 36px;
    font: 16px/36px Roboto;
    font-weight: 700;
  }
}

.branchBanner {
  padding: 0px 48px;
  position: relative;
  height: 304px;
}

@media (max-width: 768px) {
  .branchBanner {
    height: 143px;
  }
}

.branchBanner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.branchBanner::after {
  background-image: url("../assets/branch/72.png");
  content: '';
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.branchBanner h2 {
  font: 64px/80px PingFang TC;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .branchBanner h2 {
    font: 48px/80px PingFang TC;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .branchBanner h2 {
    font: 28px/80px PingFang TC;
    font-weight: 500;
  }
}

.branchBanner img {
  margin-left: 24px;
}

@media (max-width: 992px) {
  .branchBanner img {
    margin-left: 16px;
    width: 30px;
  }
}

@media (max-width: 768px) {
  .branchBanner img {
    margin-left: 8px;
    width: 16px;
  }
}

.branchDemo {
  padding: 16px 48px 0px 48px;
  margin-bottom: 126px;
}

@media (max-width: 992px) {
  .branchDemo {
    padding: 8px 12px 0px 12px;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .branchDemo {
    padding: 8px 48px 0px 48px;
    margin-bottom: 80px;
  }
}

.branchDemoSearchBar {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .branchDemoSearchBar {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .branchDemoSearchBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}

.branchDemoSearchBar label {
  font: 24px/30px PingFang TC;
  font-size: 400;
  margin-right: 22px;
}

@media (max-width: 992px) {
  .branchDemoSearchBar label {
    font: 16px/30px PingFang TC;
    font-size: 400;
    margin-right: 23px;
  }
}

@media (max-width: 768px) {
  .branchDemoSearchBar label {
    font: 14px/30px PingFang TC;
    font-size: 400;
    margin-right: 16px;
  }
}

.branchDemoSearchBar select {
  width: 266px;
  padding: 10px 12px 10px 19px;
  font: 18px/22px Helvetica Neue;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #DEE2E6;
}

@media (max-width: 992px) {
  .branchDemoSearchBar select {
    width: 237px;
    font: 16px/24px PingFang TC;
    font-weight: 400;
    padding: 12px 16px;
  }
}

@media (max-width: 768px) {
  .branchDemoSearchBar select {
    width: 70%;
    font: 14px/24px PingFang TC;
    font-weight: 400;
    padding: 8px 16px;
  }
}

.branchDemoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .branchDemoList {
    margin-bottom: 20px;
  }
}

.branchDemoItem {
  width: 32%;
  border: 1px solid #DEE2E6;
  margin-bottom: 28px;
}

@media (max-width: 992px) {
  .branchDemoItem {
    width: 48.2%;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .branchDemoItem {
    width: 100%;
    margin-bottom: 20px;
  }
}

.branchDemoItem .branchDemoItemImg {
  width: 100%;
}

.branchDemoItem h3 {
  font: 24px/33px PingFang TC;
  font-weight: 500;
  padding: 16px 24px;
  border-bottom: 1px solid #DEE2E6;
}

@media (max-width: 992px) {
  .branchDemoItem h3 {
    font: 16px/24px PingFang TC;
    font-weight: 500;
    padding: 8px 16px;
  }
}

.branchDemoItem a {
  width: 100%;
  height: 68px;
  display: block;
  background-color: #000000;
  text-align: center;
  font: 20px/68px PingFang TC;
  font-weight: 400;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .branchDemoItem a {
    height: 52px;
    font: 14px/52px PingFang TC;
    font-weight: 400;
  }
}

.branchInfoList {
  padding: 16px 36px;
}

@media (max-width: 992px) {
  .branchInfoList {
    padding: 16px;
  }
}

.branchInfoList li {
  margin-bottom: 8px;
}

.branchInfoList p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 20px/28px PingFang TC;
  font-weight: 400;
}

@media (max-width: 992px) {
  .branchInfoList p {
    font: 14px/21px PingFang TC;
    font-weight: 400;
  }
}

.branchInfoList li:nth-child(1) img {
  margin-right: 8px;
}

@media (max-width: 992px) {
  .branchInfoList li:nth-child(1) img {
    width: 21px;
    margin-right: 13px;
  }
}

.branchInfoList li:nth-child(2) img {
  margin-right: 9px;
  margin-left: 1px;
}

@media (max-width: 992px) {
  .branchInfoList li:nth-child(2) img {
    width: 16px;
    margin-right: 16px;
    margin-left: 3px;
  }
}

.branchInfoList li:nth-child(3) p {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.branchInfoList li:nth-child(3) img {
  margin-right: 12px;
  margin-left: 4px;
}

@media (max-width: 992px) {
  .branchInfoList li:nth-child(3) img {
    width: 12px;
    margin-right: 18px;
    margin-left: 5px;
  }
}

.pageTag {
  display: none;
}

@media (max-width: 768px) {
  .pageTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pageTag {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageTag a {
  display: block;
  font: 12px/18px Roboto;
  font-weight: 400;
  color: #707070;
  padding: 8px 10px;
}

.pageTag .prePage, .pageTag .nextPage {
  border: 1px solid #707070;
}

.pageTag .prePage {
  border-right: 0px;
}

.pageTagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageTagList li {
  border: 1px solid #707070;
  border-right: 0px;
}
/*# sourceMappingURL=all.css.map */