$color-white: #FFFFFF;
$color-black: #000000;
$color-pink: #fbf2f2;
$color-red: #AA0601;
$color-dark-red: #650300;
$color-gray: #707070;
$color-dark-gray: #555555;
$color-light-blue: #DEE2E6;
// 字體
$font-size-Regular: 400;
$font-size-Medium: 500;
$font-size-Semi-bold: 600;
$font-size-Blod: 700;
$font-size-Black: 800;


/*
font-size: 16px;
360px = 22.5rem;
350px = 21.875rem;

108px = 6.75rem;
95px = 5.9375rem;
90px = 5.625rem;
88px = 5.5rem;
80px = 5rem;
72px = 4.5rem;
67px = 4.1875rem;
64px = 4rem;
62px = 3.875rem;
60px = 3.75rem;
54px = 3.375rem;
50px = 3.125rem;
48px = 3rem;
45px = 2.8125rem;
42px = 2.625rem
40px = 2.5rem;
38px = 2.375rem;
36px = 2.25rem;
33px= 2.0625rem;
32px = 2rem;
30px = 1.875rem;
28px = 1.75rem;
27px = 1.6875rem;
24px = 1.5rem;
22px = 1.375rem;
21px = 1.3125rem;
20px = 1.25rem;
18px = 1.125rem;
16px = 1rem;
14px = 0.875rem;
12px = 0.75rem;
8px = 0.5rem;
4px = 0.25rem;
*/
